# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
build/
pubspec.lock
**/android/local.properties
local.properties

# Web / Node
node_modules/
dist/

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db

# Firebase
.firebase/
# Gradle
flutter_app/android/.gradle/
**/.gradle/
